*{
  margin: 0;
  padding: 0;
}

:root{
  --color-first: #2B807B;
}

body{
  height: 100vh;
  /* background-color: var(--color-first); */
  font-family:sans-serif;
  /*  text-align: center;
      align-items: center;  vertical */
}
.centrar{
  display: flex;  /*container flex, one close to the next */
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

#container{
  height: 220px;
  width: 450px;
  background-color: grey;
  /*border: 5px solid black;*/
  margin-top: 200px;
  border-radius: 2em;
  flex-wrap: wrap; /* take more rows if necessary */
  flex-direction: column; /* vertical one after one, like a tower */
  opacity: 1;
}

h4{
  font-size: 150%;
  font-weight: bold;
}
#color-text{
  font-size: 200%;
  font-weight: bold;
  margin: 1em;
}
#color-button{
  font-size: 110%;
  font-weight: bold;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background-color: black;
  color: white;
  user-select: none;
}