:root {
    --header: #141212;
    --header-light: #2e2a2a;
    --text: #ffffff;
}

#header{
    display: flex;
    background-color: var(--header);
    color: var(--text);
    padding: 20px;
    justify-content: start;
    font-family:sans-serif;
}

#main-index{
    display: block;  /* tower view */
    color: var(--text);
    text-decoration: none;  /* no link style */
    padding: 1em 1.5em;
    border-radius: 0.1em;
    &:hover{
        background-color: var(--header-light);
    }
}
/*  --Dropdown Style--  */

/**/
.dropdown{
    display: inline-block;
}

.dropdown button{
    background-color: var(--header);
    color: var(--text);
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    user-select: none; /* the user can´t select text */
    font-size: 20px;
}

.dropdown a{
    display: block;  /* tower view */
    color: var(--text);
    text-decoration: none;  /* no link style */
    padding: 1em 1.5em;
    border-radius: 0.1em;
}

.dropdown .content{
    display: none;
    position: absolute;
    background-color: var(--header-light);
    border-radius: 0.2em;
    min-width: 100px;
    box-shadow: 2px 2px 5px black; /* hor ver blur color*/
}

.dropdown:hover .content{
    display: block;
}


.dropdown:hover button{
    background-color: var(--header-light);
}

.dropdown a:hover{
    background-color: var(--header);
}